@*@model IEnumerable<PostsModel> @**@
@{
    ViewData["Title"] = "Top Subreddits";
}
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Top SubReddit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Users</a>
        </li>
    </ul>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
    <p>Building Reddit Listener</p>
</div>

<div>

</div>
 
@*

<h2>Top Posts</h2>

<table class="table">
   
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Fullname</td>
                <td>@post.Subreddit</td>
                <td>@post.UpVotes</td>
            </tr>
        }
    </tbody>
</table>  *@