
@{
    ViewData["Title"] = "Top Subreddits";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="redditcharts.com">building Reddit Listener</a>.</p>
</div>
