@{
    ViewData["Title"] = "Users with top posts";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <button type="button" id="callApi" class="btn btn-light">Users with most posts</button>

    <div id="apiResponse"></div>

    <script>
        $(document).ready(function () {
            $("#callApi").click(function () {
                // Make an AJAX request to your API controller method
                $.ajax({
                    type: "GET",
                    url: "/api/posts/GetUsersWithTopPosts",
                    data: "name=" + "funny",
                    success: function (data) {
                        // Handle the API response here
                        console.log(data);
                        alert("API call successful: " + data);
                    },
                    error: function () {
                        alert("Error calling API.");
                    }
                });
            });
        });
    </script>
</body>

